<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="MySqlConnection" connectionString="server=localhost;User Id=root;database=test;password=root;Persist Security Info=True" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
	<appSettings>
	</appSettings><system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="MyMoneyServicePortBinding"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8080/MyMoney2/MyMoneyService" binding="basicHttpBinding" bindingConfiguration="MyMoneyServicePortBinding" contract="MyMoney.MyMoneyService" name="MyMoneyServicePort"/>
		</client>
	</system.serviceModel>
</configuration>
